.all_div {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2vw;
}

table {
    border: 1px solid rgb(184, 13, 206);
    width: 100%;
}

table th,
td {
    border: 1px solid #cc18e4;
    text-align: center;
    padding: 10px;
    color: rgb(3, 3, 128);
}